body > canvas{
    border: 1px #a9c653;
    background-color: #ecf2d9;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.5);
}

body {
    margin-left:auto;
    margin-right:auto;
    width:50%;
    background-color:#b0e0e6;
}

button {
    border: 2px solid gray;
    color:white;
    width:120px;
}